# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
configs/secrets.env.example
venv/
.venv/

# Streamlit / Cache
.streamlit/
.cache/

# VS Code
.vscode/

# Tests
tests/

# OS
.DS_Store

# FAISS / vector stores (optional)
faiss_index/
