# Copy this file and rename to `.env`
# Add your OpenAI API key here:

OPENAI_API_KEY=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
